<%= form_tag('subscriptions', remote: true) do %>
  <div class="form-group row">
    <div class="form-group col-12 col-md-6">
      <label for="exchange_to_sub">Exchange: </label>
      <!-- <small id="exchange_message_tooltip" class="form-text text-muted">Subscribe to a message exchange to receive messages.</small> -->
      <%= text_field 'exchange_to_sub', nil, class: "form-control", placeholder: 'Enter an exchange to subscribe to...' %>
    </div>
    <div class="form-group col-12 col-md-6">
      <label for="queue_to_sub">Queue: </label>
      <!-- <small id="pub_message_tooltip" class="form-text text-muted">Subscribe to a message queue to receive messages.</small> -->
      <%= text_field 'queue_to_sub', nil, class: "form-control", placeholder: '...and a queue to bind to that exchange' %>
    </div>
  </div>
  <p class='clearfix'>
    <button id='create_subscription' type='submit' class="btn btn-primary float-right">Create New Subscription</button>
  </p>
<% end %>

<hr>

<h2>Current Subscriptions</h2>
<!-- This table loads as empty but is populated using the list_messages.html.erb partial -->
<div id='subscriptions'></div>
<p class='clearfix'>
  <button id='delete_subscriptions' class="btn btn-warning float-right">Delete All Subscriptions</button>
</p>
