<!-- TODO: Set up a tab UI for RabbitMQ, FHIR, anything else we want to test -->

<% rabbitmq_server = ENV["RABBITMQ_URL"] %>
<% if rabbitmq_server == 'localhost' %>
  <div class="alert alert-warning" role="alert"><code>RABBITMQ_URL</code> has been set to <code><%= rabbitmq_server %></code>. If this is incorrect, change it and restart.</div>
<% else %>
  <div class="alert alert-info" role="alert">Using <code><%= rabbitmq_server %></code> as the RabbitMQ server. If you wish to modify this, change the <code>RABBITMQ_URL</code> environment variable and restart the server.</div>
<% end %>

<h1>Publish/Subscribe Message Pattern</h1>
<ul class="nav nav-tabs" id="pub_sub_tabs" role="tablist" style="margin-left:0;margin-bottom:10px">
  <li class="nav-item">
    <a class="nav-link active" id="pub_sub_publish-tab" data-toggle="tab" href="#pub_sub_publish" role="tab" aria-controls="pub_sub_publish" aria-expanded="true">Publish</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pub_sub_subscribe-tab" data-toggle="tab" href="#pub_sub_subscribe" role="tab" aria-controls="pub_sub_subscribe">Subscribe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pub_sub_inbox-tab" data-toggle="tab" href="#pub_sub_inbox" role="tab" aria-controls="pub_sub_inbox">Inbox</a>
  </li>
</ul>

<div class='tab-content'>
  <div class="tab-pane fade show active" id="pub_sub_publish" role="tabpanel" aria-labelledby="pub_sub_publish-tab">
    <%= render partial: 'dashboard/pub_sub_publish' %>
  </div>
  <div class="tab-pane fade" id="pub_sub_subscribe" role="tabpanel" aria-labelledby="pub_sub_subscribe-tab">
    <%= render partial: 'dashboard/pub_sub_subscribe' %>
  </div>
  <div class="tab-pane fade" id="pub_sub_inbox" role="tabpanel" aria-labelledby="pub_sub_inbox-tab">
    <table class='table' id='messages_table'></table>
    <p class='clearfix'>
      <button id='delete_messages' class="btn btn-warning float-right">Delete All Messages</button>
    </p>
  </div>
</div>
