<% if @subscriptions.count > 0 %>
<table class='table' id='subscriptions_table'>
  <thead>
    <tr>
      <th>Subscription
      <!-- <th>Action -->
  </thead>
  <tbody>
  <% @subscriptions.each do |subscription| %>
    <tr>
      <td><%= subscription.queue %>
      <!-- TODO: figure out the proper routing for this link -->
      <!-- <td><%= link_to 'Unsubscribe', { remote: true, method: :delete_subscriptions }, class: 'btn btn-danger' %> -->
  <% end %>
  </tbody>
</table>
<% else %>
<div class='alert alert-warning' id='subscriptions_table'><strong><%= ENV["POPLIN_INSPECTOR_NAME"] %></strong> is not subscribed to any queues.</div>
<% end %>
