<% if @subscriptions.count > 0 %>
<div id='subscriptions'>
  <table class='table'>
    <thead>
      <tr>
        <th>Exchange
        <th>Queue
        <th>Action
        <!-- <th>Action -->
    </thead>
    <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.exchange %>
        <td><%= subscription.queue %>
        <td><%= link_to 'Unsubscribe', subscription, remote: true, method: :delete, class: 'btn btn-danger' %>
    <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div id='subscriptions' class='alert alert-warning'>
  <strong><%= ENV["POPLIN_INSPECTOR_NAME"] %></strong> is not subscribed to any queues.
</div>
<% end %>
